body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

:root {
  --title-color: black;
  --title-answer-text: black;
  --a-back: #f6f6f6;
  --b-back: #ffffff;
  --border-bottom-color: #f6f4f4;
}
